//fonts
$fontPrimary: 'PT Sans', 'Arial', 'sans-serif';
$fontSecondary: 'Ubuntu', 'Arial', 'sans-serif';
$default-font-size: 14px;
$default-line-height: 1.29;

//colors
$colorPrimary: #fff;
$colorSecondary: #535353;

//bgColors
$backgroundColorPrimary: #000;
$backgroundColorSecondary: #f5f5f5;

//border
$borderColorPrimary: #fff;



