@import '../../common/scss/variables';

.page {
  padding: 32px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  border: 1px solid $borderColorPrimary;
  border-radius: 4px;
  padding: 16px;
}

.link {
  font-size: 24px;
  font-weight: 700;
  text-transform: capitalize;
  &:hover {
    text-decoration: underline;
  }
}
